<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <h4>Main Info</h4>
    <br />
    <p>Host: <%= @event.user.email %></p>
    </p>
    <p>Location: <%= @event.location %></p>
    <p>Event Price: <%= @event.price == 0.0 ? "" : "€" %><%= @event.price == 0.0 ? "Free" : @event.price %></p>
    <p>Capacity: <%= @event.capacity %></p>

    <!-- About -->
    <br />
    <h4>About</h4>
    <br />
    <p><%= @event.description %></p>

    <br />
    <!-- Amenities -->
    <h4>Amenities</h4>
    <br />
    <ul class="amenities">
      <li><%= !@event.includes_food ? ("<s>Food</s>").html_safe : "Food" %></li>
      <li><%= !@event.includes_drinks ? ("<del>Drink</del>").html_safe : "Drink" %></li>
    </ul>

    <br />
    <h4>Categories</h4>
    <br />
      <% @categories.each do |category| %>
        <span class="label label-success"><%= category.name %></span>
      <% end %>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
